  .pagetop {
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .subtext {
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 11px;
    height: 20px;
    vertical-align: top;
  }
  
  .title {
    color: #ccc;
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  header > center > table {
    background-color: transparent;
    margin: 0 auto;
    width: 700px;
  }

  body {
    margin: 0;
  }
  
  body > center > table {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    width: 700px;
    text-indent: 0;
  }
  
  body > center > table > tbody > tr > td:first-child {
    padding-right: 10px;
  }
  
  td > center > table td {
    padding: 10px;
  }
  
  td, .comment, .default, .comhead, .yclinks, .dead {
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
  td.subtext.pocket-inserted {
    color: #bfbfbf;
  }
  
  td.subtext.pocket-inserted a {
    color: #919191;
  }
  
  td.title a {
    color: #4d4d4d;
    text-decoration: none;
  }

  .normaltext {
    color: #4d4d4d;
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 5px;
  }
  