{{ define "main" }}
<center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="white">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr class="athing" id="34457657">
                        <td align="right" valign="top" class="title">
                        </td>
                        <td valign="top" class="votelinks"></td>
                        <td class="normaltext">
                            {{ .Content }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>
{{ end }}