<header>
    <center>
        <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="white">
            <tr>
                <td bgcolor="white">
                    <table border="0" cellpadding="5" cellspacing="0" width="100%" style="padding: 2px">
                        <tr>
                            <td bgcolor="#f9f1f1" style="padding-left: 4px; line-height: 12pt; height: 10px">
                                <span class="pagetop"><b class="hnname"><a href="/">{{ .Site.Title }}</a></b>
                                </span>
                            </td>
                            <td bgcolor="#f9f1f1" style="text-align: right; padding-right: 4px">
                                <span class="pagetop">
                                    <a href="https://github.com/ddritzenhoff">github</a> |
                                    <a href="https://www.linkedin.com/in/ddritzenhoff/">linkedin</a> |
                                    <a href="mailto:ddritzenhoff@gmail.com">email</a> |
                                    <a href="/about">about</a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
</header>